body {
    color: #231a1a; 
    background-color: #f5df63; 
}

.page-link {
    color: #000080;
}

.page-link:hover {
    color: #ffffff;
    background-color: #8b0000; 
}

@media screen and (max-width: 768px) {
    .main-container .main-info {
        flex-direction: column;
    }

    .main-container .main-info .main-info-img,
    .main-container .main-info .main-info-text {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .main-container .main-info {
        flex-direction: row;
    }

    .main-container .main-info .main-info-img,
    .main-container .main-info .main-info-text {
        width: 45%;
        min-width: 250px;
    }
}

.main-container .main-info .main-info-text {
    font: 1.5rem "Times New Roman";
}

.exp-input {
    width: 15%;
    min-width: 60px;
}

@media (min-width: 576px) {
    .input-group-find {
        width: 25%;
        min-width: 200px;
    }
}

@media (max-width: 576px) {
    .input-group-find {
        width: 100%;
    }
}